In [14]:
import pandas as pd
from pathlib import Path
pd.options.display.max_columns=None

In [15]:
f = Path(r'C:\Users\Benit\CodingPractice')
f.exists()

True

In [19]:
# reads in files to establish data sets
df1 = pd.read_csv(Path(f, 'factbook.csv'),
                 sep=';', 
                 usecols=['Country'], 
                 dtype=str)

df2 = pd.read_csv(Path(f, 'factbook_-_Bad.csv'),
                 sep=';',
                 usecols=['Country'],   
                 dtype=str)

df2.head(6)

          Country
0          String
1     Afghanistan
2        Akrotiri
3         Albania
4         Algeria
5  American Samoa

In [21]:
#merges file 1 and file 2 together
df3 = pd.merge(     
    df1,
    df2,
    how='outer',
    on = 'Country', #Compares files by country
    indicator=True)

df3

         Country      _merge
0         String        both
1    Afghanistan        both
2       Akrotiri        both
3        Albania        both
4        Algeria        both
..           ...         ...
262       Zambia   left_only
263     Zimbabwe        both
264      Btswana  right_only
265  Not Zealand  right_only
266        Zamia  right_only

[267 rows x 2 columns]

In [22]:
#Returns only differences between df1 and df2
df4=df3[df3['_merge'].isin(['left_only', 'right_only'])]
df4

         Country      _merge
32      Botswana   left_only
176  New Zealand   left_only
262       Zambia   left_only
264      Btswana  right_only
265  Not Zealand  right_only
266        Zamia  right_only

In [6]:
cols = df1.columns.tolist()
sorted(cols)

['Area(sq km)',
 'Birth rate(births/1000 population)',
 'Country',
 'Current account balance',
 'Death rate(deaths/1000 population)',
 'Debt - external',
 'Electricity - consumption(kWh)',
 'Electricity - production(kWh)',
 'Exports',
 'GDP',
 'GDP - per capita',
 'GDP - real growth rate(%)',
 'HIV/AIDS - adult prevalence rate(%)',
 'HIV/AIDS - deaths',
 'HIV/AIDS - people living with HIV/AIDS',
 'Highways(km)',
 'Imports',
 'Industrial production growth rate(%)',
 'Infant mortality rate(deaths/1000 live births)',
 'Inflation rate (consumer prices)(%)',
 'Internet hosts',
 'Internet users',
 'Investment (gross fixed)(% of GDP)',
 'Labor force',
 'Life expectancy at birth(years)',
 'Military expenditures - dollar figure',
 'Military expenditures - percent of GDP(%)',
 'Natural gas - consumption(cu m)',
 'Natural gas - exports(cu m)',
 'Natural gas - imports(cu m)',
 'Natural gas - production(cu m)',
 'Natural gas - proved reserves(cu m)',
 'Oil - consumption(bbl/day)',
 'Oil - exports(bbl/day)',
 'Oil - imports(bbl/day)',
 'Oil - production(bbl/day)',
 'Oil - proved reserves(bbl)',
 'Population',
 'Public debt(% of GDP)',
 'Railways(km)',
 'Reserves of foreign exchange & gold',
 'Telephones - main lines in use',
 'Telephones - mobile cellular',
 'Total fertility rate(children born/woman)',
 'Unemployment rate(%)']